-c ../constraints.txt
fastapi==0.142.2
starlette==0.52.1
uvicorn==0.54.0
SQLAlchemy==2.0.54
python-multipart==0.0.32
requests==2.34.2
pydantic==2.11.7
alembic==1.16.5
psycopg[binary]==3.2.10
Mako==1.3.10
boto3==1.40.50
redis==6.4.0
